<h1 align="center"><?php echo $event['title']; ?></h1>
<h3 align="left"><?php echo $event['speaker']; ?></h3>
<h3 align="left"><?php echo $event['datetime']; ?></h3>

<table class="table" width="100%" border="1" cellspacing="0">
	<tr>
	<th><?php echo __('Nombre', true) ?></th>
	<th><?php echo __('Email', true) ?></th>
	<th><?php echo __('Código', true) ?></th>
	<th><?php echo __('Firma', true) ?></th>
	</tr>
	
	<?php foreach($students as $student): ?>
		<tr>
		<?php
			echo '<td style="width: 270px;">'.$student['fullname'] . '</td>';
			echo '<td style="width: 230px; text-align:center;">'.$student['email'] . '</td>';
			echo '<td style="width: 100px; text-align:center;">'.$student['code'] .'</td>';
			echo '<td></td>';
		?>
		</tr>
	 <?php endforeach; ?>
</table>
	
